
/*
* {
	line-height: 1.5em;
}*/

h1 {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
	font-size: 80px;
	text-align:center;
	height: 250px;
	line-height: 350px;
	/*text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;*/
}

body {
	max-width: 780px;
	margin: auto;
	padding: 10px 40px;
}

ul {
	list-style: none;
}


table {
    width: 70%;
    border-collapse: collapse;
    margin-bottom: 0.7em;
}

td,
th {
    border: 0px solid #999;
    text-align: left;
    padding: .3em;
}

table{
	table-layout:fixed;
}

a{
	word-wrap: break-word;
	white-space: pre-line;
	display:block;
	text-overflow: ellipsis; 
}


.hidden {
	display: none;
}

.white {
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#oauth {
	display: inline-block;
	float: right;
}

#s_buttons {

}

.h_center {
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.text_center {
	text-align:center;
}

.small_button {
	font-size: 9px;
	line-height: 1.7em;
	padding: 3px;
	height: inherit;
}

.small {
	font-size: 11px;
}

#logo-text {
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}

.logo {
	background-image: url(http://moogle.ml/cow.jpeg);
	background-repeat: no-repeat;
	background-position: 52% 45%;
	background-blend-mode: lighten;
}
